extends ../layout.pug


block content
  - var sigil_url = namedURL('domain_sigil', {domain: encodeURIComponent(domain)});

  div(class="flex flex-col")
    h1(class="text-3xl mb-8") Results for #{domain}
    pre #{json}

    section(class="flex flex-col mt-4")
      h2(class="text-xl") Your sigil
      img(src=sigil_url style="border: 1px solid black" width=240 height=80 alt="Robust-AAA score for #{domain}")

      h2(class="text-xl") Embed
      - var img_tag = `<img src="${sigil_url}" alt="Robust-AAA score for ${domain}"/>`

      input(class="block w-full" type="text" value=img_tag)

